<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="UseConfig" value="Local" />
    <!--Local or Remote-->
    <add key="clientId" value="5" />
    <add key="ConfigServiceAddress" value="localhost" />
    <add key="ConfigServicePort" value="7003" />
    <add key="ConfigStreamingServicePort" value="7004" />
    <add key="ConfigRipServicePort" value="7005" />
    <add key="FailedFolder" value="C:\\temp" />
    
  </appSettings> 
  
  
</configuration>