<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="Scodix.Infra.Interfaces" version="1.0.2-CI-20191226-100850" targetFramework="net461" />
  <package id="Scodix.Infra.Kernel" version="1.0.2-CI-20191226-100850" targetFramework="net461" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net461" />
</packages>